table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
.createBtn{
    border: navajowhite;
    padding: 14px;
    border-radius: 6px;
    margin: 1rem;

    float: inline-end;
    background: rgba(63, 81, 181, 0.87);
    color: white;
}
  